<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/styles.css">
	<title>Number Learning</title>
</head>
<!--Gif requirment-->

<body style="background-image:url('../images/number2.gif')">
	<header>
		<h1>Welcome on this page to learn Numbers</h1>
	</header>

	<nav>
		<ul>
			<li><a href="login.html">Home</a></li>
			<li><a href="alphabets.html">Alphabets</a></li>
			<li><a href="numbers.html">Numbers</a></li>
		</ul>
	</nav>

	<main>
		<div class="numbers-container">
			<table class="numbers-table" style="font-size: 200px;color: blue;">
				<tr>
					<th style="font-size: 45px;">Numbers(Click on number.)</th>
				</tr>

				<tr>
					<td><a href="#" onclick="showPicture('1.jpg')">1</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('2.jpg')">2</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('3.jpg')">3</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('4.jpg')">4</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('5.jpg')">5</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('6.jpg')">6</a></td>
				</tr>
				<td><a href="#" onclick="showPicture('7.jpg')">7</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('8.jpg')">8</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('9.jpg')">9</a></td>
				</tr>
				<tr>
					<td><a href="#" onclick="showPicture('10.jpg')">10</a></td>

				</tr>
			</table>
		</div>
	</main>

	<script src="../static/script/script.js"></script>
</body>

</html>